@mixin banner($image, $positionY){
    width: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), transparent), url($image);
    background-repeat: no-repeat;
    background-size: 110%;
    background-color: rgba(120, 120, 120, 0);
    background-blend-mode: multiply;
    background-position-y: $positionY;
    background-position-x: 78%;
}

%flexCarousel{
    display: flex;
    gap: 12px;
    // overflow-x: scroll;
    // scroll-behavior: smooth;
    padding: 10px 20px;
    margin: 0 10px;

    &::-webkit-scrollbar-thumb {
    background-color: #e50914;
    border-radius: 10px;
  }
}

%poster{
    min-width: 150px;
    height: 270px;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s;
}

%imgCarousel{
    width: 100%;
    height: 80%;
    border-radius: 6px;
}