#searchSection__searchInput{
    border-radius: 200px;
    border: 5px solid rgba(112, 255, 255, 1);
    padding: 10px 70px 10px 5px;
    font-family: "Roboto Condensed", sans-serif;
    outline: none; 
    font-size: 16px;

    &:focus{
        border: 5px solid rgba(112, 255, 255, 1);
        background-color: #01f7ff;
        color: rgba(4, 25, 130, 0.5);
    }

    &::placeholder{
        color: rgba(4, 25, 130, 0.5);
    }
}